.contact{
    background-image: url(../../Contact/Cocina.jpg);
    background-size: cover;
}

.saberMas{
    border: 1px solid rgb(78, 78, 78);
    border-radius: 10px;
    box-shadow: rgba(189, 189, 189, 0.25) 0px 14px 28px, rgba(104, 104, 104, 0.22) 0px 10px 10px;
}