*{
    box-sizing: border-box;
}

.sliderContainer{
    width: 100%;
    max-width: 900px;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.slider{
    display: flex;
    width: 500%;
    height: 500px;
    margin-left: -100%;
}

.sliderSection{
    width: 100%;
}

.sliderIMG{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.sliderBTN{
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgb(134, 134, 134);
    top: 50%;
    transform: translateY(-50%);
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.sliderBTN_R{
    right:20px;
}

.sliderBTN:hover{
    background-color: rgb(154, 164, 255);
}

.sliderBTN_L{
    left: 20px;
} 